<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wujie.mylistview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Bankcard.BankActivity" />
        <activity android:name=".pop.PopActivity" />
        <activity android:name=".pop2.PayActivity" />
        <activity android:name=".tab.MainTabActivity" />
        <activity android:name=".payBord.PayKeyPwdActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".button.InputActivity" />
        <activity
            android:name=".toolbar.ToolbarActivity"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".Base.PerActivity" />
        <activity android:name=".Base.BaseActivity" />
        <activity android:name=".TextViewChangeColor.TextviewActivity" />

        <receiver android:name=".Base.NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wujie.mylistview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".pop3.PopActivity" />
        <activity android:name=".sendMSG.SendMsgActivity"></activity>
    </application>

</manifest>